In [336]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [337]:
dataset=pd.read_csv("yo.csv")

In [338]:
dataset.columns

Index(['Sai kha ya her kisi kay bus ki bat nhi hai lakin main ki hal kal bi Aj aur aj bi sirf Aus say bus',
       'Positive', 'Unnamed: 2'],
      dtype='object')

In [339]:
dataset.rename(columns = {'Sai kha ya her kisi kay bus ki bat nhi hai lakin main ki hal kal bi Aj aur aj bi sirf Aus say bus':'Tweet'}, inplace = True)

In [340]:
dataset.columns

Index(['Tweet', 'Positive', 'Unnamed: 2'], dtype='object')

In [341]:
dataset.rename(columns = {'Positive':'Feeling'}, inplace = True)

In [342]:
count=0
no=0
for i in dataset['Unnamed: 2'].isnull():
    if i==True:
        count=count+1
    else:
        no=no+1
print(count,no)

20221 7

In [343]:
from keras.preprocessing.text import one_hot
from keras.preprocessing.text import text_to_word_sequence

In [344]:
def text_pro(tweet):
    return set(text_to_word_sequence(tweet))

In [347]:
count=0
count1=0
for i in dataset["Tweet"]:
    if (pd.isna(i)):
        count=count+1
    else:
        count1=count1+1

In [349]:
dataset.dropna(inplace=True)

In [350]:
dataset['Tweet']=dataset['Tweet'].apply(text_pro)

In [351]:
dataset.dropna(inplace=True)

In [353]:
dataset["Tweet"]=dataset['Tweet'].apply(list)

In [354]:
vocab=[]
for i in dataset["Tweet"]:
    for j in i:
        vocab.append(j)

In [355]:
dataset["Tweet"]=dataset["Tweet"].apply(" ".join)

In [356]:
dataset['Tweet'].dropna(inplace=True)

In [357]:
vocab=set(vocab)

In [358]:
vocab=list(vocab)

In [359]:
vocabstr=" ".join(vocab)

In [360]:
vocabstrf=set(text_to_word_sequence(vocabstr))

In [361]:
len_vocabstrf=len(vocabstrf)

In [363]:
def one(one):
    return one_hot(one,round(len_vocabstrf*1.3))

In [366]:
dataset['Tweet']=dataset['Tweet'].apply(one)

In [364]:
dataset['Feeling']

0        Positive
1        Positive
2        Positive
3        Positive
4        Positive
           ...
20223    Negative
20224    Negative
20225    Negative
20226    Negative
20227    Positive
Name: Feeling, Length: 20227, dtype: object

In [346]:
dataset.drop("Unnamed: 2",inplace=True,axis=1)

In [367]:
from keras.preprocessing import sequence
X_train = sequence.pad_sequences(dataset["Tweet"], maxlen=20)

In [369]:
X_train.shape

(20227, 20)

In [375]:

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.embeddings import Embedding

In [380]:

model = Sequential()
model.add(Embedding(43280, 32, input_length=20))
model.add(Flatten())
model.add(Dense(250, activation='relu'))
model.add(Dense(4, activation='sigmoid'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_8 (Embedding)      (None, 20, 32)            1384960
_________________________________________________________________
flatten_7 (Flatten)          (None, 640)               0
_________________________________________________________________
dense_13 (Dense)             (None, 250)               160250
_________________________________________________________________
dense_14 (Dense)             (None, 4)                 1004
=================================================================
Total params: 1,546,214
Trainable params: 1,546,214
Non-trainable params: 0
_________________________________________________________________
None

In [409]:
Y = pd.get_dummies(dataset['Feeling'])

In [410]:
Y

       Neative  Negative  Neutral  Positive
0            0         0        0         1
1            0         0        0         1
2            0         0        0         1
3            0         0        0         1
4            0         0        0         1
...        ...       ...      ...       ...
20223        0         1        0         0
20224        0         1        0         0
20225        0         1        0         0
20226        0         1        0         0
20227        0         0        0         1

[20227 rows x 4 columns]

In [389]:
from sklearn.model_selection import train_test_split
X_tr, X_te, y_tr, y_te = train_test_split(X_train, Y, test_size=0.33, random_state=42)

In [412]:
model.fit(X_tr, y_tr, validation_data=(X_te, y_te), epochs=10, batch_size=128, verbose=2)

Train on 13552 samples, validate on 6675 samples
Epoch 1/10
 - 6s - loss: 0.0032 - accuracy: 0.9985 - val_loss: 0.0195 - val_accuracy: 0.9963
Epoch 2/10
 - 6s - loss: 0.0031 - accuracy: 0.9982 - val_loss: 0.0197 - val_accuracy: 0.9960
Epoch 3/10
 - 6s - loss: 0.0032 - accuracy: 0.9986 - val_loss: 0.0192 - val_accuracy: 0.9964
Epoch 4/10
 - 6s - loss: 0.0031 - accuracy: 0.9984 - val_loss: 0.0198 - val_accuracy: 0.9960
Epoch 5/10
 - 6s - loss: 0.0030 - accuracy: 0.9986 - val_loss: 0.0207 - val_accuracy: 0.9960
Epoch 6/10
 - 6s - loss: 0.0033 - accuracy: 0.9986 - val_loss: 0.0208 - val_accuracy: 0.9957
Epoch 7/10
 - 6s - loss: 0.0030 - accuracy: 0.9980 - val_loss: 0.0221 - val_accuracy: 0.9957
Epoch 8/10
 - 6s - loss: 0.0031 - accuracy: 0.9984 - val_loss: 0.0219 - val_accuracy: 0.9961
Epoch 9/10
 - 6s - loss: 0.0030 - accuracy: 0.9986 - val_loss: 0.0218 - val_accuracy: 0.9957
Epoch 10/10
 - 6s - loss: 0.0031 - accuracy: 0.9985 - val_loss: 0.0215 - val_accuracy: 0.9958

In [416]:
result=model.predict(X_te)

In [443]:
resulttest=[]
negte=0
neute=0
poste=0
for i in result:
   if np.argmax(i)==1:
    resulttest.append("Negative")
    negte=negte+1
   elif(np.argmax(i)==2):
    resulttest.append("Neutral")
    neute=neute+1
   else:
    resulttest.append("Positive")
    poste=poste+1

In [428]:
resultreal=[]
for i in y_te:
   if i[1]==1:
    resultreal.append("Negative")
   elif i[2]==1:
    resultreal.append("Neutral")
   else:
    resultreal.append("Positive")

resultreal

In [437]:
accurate=0
wrong=0
for i in range(len(resultreal)):
    if resultreal[i]==resulttest[i]:
        accurate=accurate+1
    else:
        wrong=wrong+1

In [441]:
accuracy=(accurate/(accurate+wrong))*100

In [444]:
(negte,neute,poste)

(1730, 2950, 1995)